* {
  font-family: sans-serif;
}
.action {
  padding: 20px;
  display: flex;
  border-bottom: 1px solid lightgray;

  &__type {
    font-weight: bold;
  }

  &:last-of-type {
    border-bottom: none;
  }
}
